############################
# Rust
############################

# Cargo build directory
/target/
/debug/
/release/

# If you want to ignore Cargo.lock (for libs):
# Cargo.lock

# Rust tooling
rustfmt.toml
clippy.toml

############################
# Go
############################

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out

# Go module files (usually commit go.mod + go.sum)
# go.sum  # uncomment if you want to ignore it

# Go coverage files
*.coverprofile
coverage.txt

# Input files
input.txt
example.txt
